<div class="action-menu">
  <%= link_to 'New Job', new_job_path, :class => "big button" %>
</div>
<h1>Jobs</h1>
<% @jobs.each do |job| %>
  <div id="item<%= job.id %>" class="item">
    <div class="action-menu">
      <%= link_to "Show", job, :class => "primary button" %>
      <%= link_to 'Edit', edit_job_path(job), :class => "button" %>
      <%= link_to 'Destroy', job, :id => "delete"+ job.id.to_s, confirm: 'Are you sure?', method: :delete, :class => " delete negative button" %>
    </div>

    <h6><%= job.employer %> <%= link_to image_tag("icons/house_link.png", :alt => "Homepage"), job.homepage %></h6>
    <p><%= job.from %> - <%= job.to.nil? ? "Now":job.to %><br><%= job.title_en %></p>
  </div>
<% end %>
</table>

