<h1>Create user</h1>  

<%= form_for @user do |f| %>  
  <% if @user.errors.any? %>  
    <div id=error-explanation" class="error">  
      <h2>Form is invalid</h2>  
      <ul>  
        <% for message in @user.errors.full_messages %>  
          <li><%= message %></li>  
        <% end %>  
      </ul>  
    </div>  
  <% end %>  
  <div class="type-text">  
    <%= f.label :email %>  
    <%= f.text_field :email %>  
  </div>  
  <div class="type-text">  
    <%= f.label :password %>  
    <%= f.password_field :password %>  
  </div>  
  <div class="type-text">  
    <%= f.label :password_confirmation %>  
    <%= f.password_field :password_confirmation %>  
  </div>  
  <div class="type-button">
    <%= f.submit %>
  </div>  
<% end %>  
