<div class="action-menu"><%= link_to 'Edit', edit_user_path(@user), :class => "pen button" %></div>
<h1 class="fancy"><%= @user.name %></h1>
<h2><%= t('generic.introduction') %></h2>
<p>
<%= @user.about_en %>
</p>
<h2><%= t('generic.aboutme')%></h2>
<table class="about">
  <tbody>
    <tr>
      <th><%= t("generic.field_of_study") %></th>
      <td><a href="http://www.ntnu.edu/studies/mtdt">Master in Computer Science</a></td>
    </tr>
    <tr>
      <th><div class="action-menu"><%= link_to 'Edit', jobs_path, :class => "pen button" %></div><%= t("generic.work") %> </th>
      <td>
        <% @jobs.each do |job| %>
          <div class="hoverable">
            <h6><%= job.employer %> <%= link_to image_tag("icons/house_link.png", :alt => "homepage"), job.homepage %></h6>
            <p><%= job.from.strftime("%b %Y") %> - <%= job.still_employed ? "Now":job.to.strftime("%b %Y") %><br><%= job.title_en %></p>
            <p class="hideable hide"><%= format(job.description_en) %></p>
          </div>
        <% end %>
      </td>
    </tr>
    <tr>
      <th><%= t("generic.education") %> <div class="action-menu"><%= link_to 'Edit', educations_path, :class => "pen button" %></div></th>
      <td>
        <% @educations.each do |education| %>
          <div class="hoverable">
            <h6><%= education.school %> <%= link_to image_tag("icons/house_link.png", :alt => "homepage"), education.homepage %></h6>
            <p><%= education.from.strftime("%Y")%> - <%= education.still_student ? "Now":education.to.strftime("%Y") %><br><%= education.degree_en %></p>
            <p class="hideable hide"><%= education.description_en %></p>
          </div>
        <% end %>
      </td>
    </tr>
    <tr>
      <th><div class="action-menu"><%= link_to 'Edit', volunteer_jobs_path, :class => "pen button" %></div><%= t("generic.volunteer_jobs") %> </th>
      <td>
        <% @volunteer_jobs.each do |job| %>
          <div class="hoverable">
            <h6><%= job.organization %> <%= link_to image_tag("icons/house_link.png", :alt => "homepage"), job.homepage %></h6>
            <p><%= job.from.strftime("%b %Y") %> - <%= job.still_active ? "Now":job.to.strftime("%b %Y") %><br><%= job.title_en %></p>
            <p class="hideable hide"><%= format(job.description_en) %></p>
          </div>
        <% end %>
      </td>

    </tr>
    <tr>
      <th><%= t("generic.skills") %></th>
      <td>
        <ul>
          <li>Java - 3 years</li>
          <li>Ruby on Rails - 2 years</li>
          <li>Ruby - 2 years</li>
          <li>Unix - 2 years</li>
          <li>HTML(5) and CSS(3)</li>
          <li>Git and Subversion - 2 years</li>
          <li>Android -  &lt;1 year</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th><%= t("generic.resources") %></th>
      <td>
        <h6><a href="http://github.com/dagingaa">GitHub</a></h6>
        <p>Personal GitHub account containing some of my most recent projects</p>
        <h6><a href="https://github.com/isfit/isfit-participant">isfit-participant @ GitHub</a></h6>
        <p>ISFiT participant-web. Project manager and maintainer</p>
      </td>
    </tr>

  </tbody>
</table>
<% content_for :sidebar do %>
<% end %>
